.createGroupForm__addedCourses__table__cell--name {
    width: 48%;
    text-align: left;
}

.createGroupForm__addedCourses__table__cell--ECTS {
    width: 10%;
    text-align: right;
}

.createGroupForm__addedCourses__table__cell--CNPS {
    width: 10%;
    text-align: right;
}

.createGroupForm__addedCourses__table__cel--ZZU {
    width: 10%;
    text-align: right;
}

.createGroupForm__addedCourses__table__cell--courseType {
    width: 22%;
    text-align: left;
}

#coursesInGroup {
    display: none;
}
