.search-courses {
    display: none;
}

.search-courses__visible {
    display: flex;
}

#courses-input {
    display: none;
}

.groupModal {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 600px;
    transform: translateX(-50%);
    background-color: #FFE599;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.groupModal--hidden {
    display: none;
}

.groupModal__searchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.groupModal__searchBar__input {
    min-width: 300px;
    margin: 10px;
    border: 1px solid black;
}

.groupModal__closeButton {
    margin: 10px 20px 10px 10px;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
}

.groupModal__table {
    margin: 0 10px 10px 10px;
}

.groupModal__table__foundCourseTr {
    cursor: pointer;
}

.createGroupForm__addedCourses__table__cell--name {
    width: 48%;
    text-align: left;
}

.createGroupForm__addedCourses__table__cell--ECTS {
    width: 10%;
    text-align: right;
}

.createGroupForm__addedCourses__table__cell--CNPS {
    width: 10%;
    text-align: right;
}

.createGroupForm__addedCourses__table__cel--ZZU {
    width: 10%;
    text-align: right;
}

.createGroupForm__addedCourses__table__cell--courseType {
    width: 22%;
    text-align: left;
}

.groupModal__table__foundCourseTr:hover {
    color: #B45F06;
}

.groupModal__table__foundCourseTr:hover > .createGroupForm__addedCourses__table__cell--name:before {
    margin-left: 3px;
    margin-right: 3px;
    content: '+';
}

.groupModal__noResultsSpan {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    color: #B45F06;
    margin: 15px;
}

.createGroupForm__addedCourses {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    width: 580px;
}

.createGroupForm__addedCourses__button:disabled {
    opacity: 0.5;
    cursor: default;
    box-shadow: none !important;
}

.createGroupForm__addedCourses__table {
    margin-top: 10px;
    width: 100%;
}

.createGroupForm__addedCourses__tableWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.createGroupForm__addedCourses__buttonsColumn {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.fancyTable__closeButtonDiv__icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 6px;
}

.fancyTable__closeButtonDiv__icon:hover {
    filter: brightness(0.75);
}

.createGroupForm__noAddedCoursesSpan {
    font-size: 14px;
    font-style: italic;
    color: #B45F06;
}