.appContainer__header {
    width: calc(100% - 8px);
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 8px;
    border-bottom: 10px solid brown;
    margin-bottom: 4px;
}

.appContainer__header__pwrLogo {
    flex: 1;
}

.appContainer__header__pwrLogo__img {
    width: 60px;
    height: 60px;
}

.appContainer__header__pwrLogo__span {
    font-size: 18px;
    text-decoration: underline;
}

.appContainer__header__title {
    flex: 1;
}

.appContainer__header__title__h1 {
    font-size: 24px;
    color: brown;
    font-weight: 900;
}

.appContainer__header__rightSpacer {
    flex: 1;
}
