
.createPlanForm__inputWrapper{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
}

.createPlanForm__inputWrapper__label{
    flex: 0.35;
    margin: 5px;
    text-align: right;
}

.createPlanForm__inputWrapper__inputDiv{
    flex: 0.65;
    margin: 5px;
}

.createPlanForm__inputWrapper__inputDiv__input{
    cursor: pointer;
}

.createPlanForm__buttonsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px 250px 30px 250px;
}