<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plany Studiów PWR</title>
    <link rel="stylesheet" href="/css/classes/all-classes.css"/>
    <link rel="stylesheet" href="/css/fragments/header.css"/>
    <link rel="stylesheet" href="/css/fragments/aside.css"/>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">
</head>
<body>
<div class="appContainer">
    <header th:replace="fragments/header :: header"></header>
    <main class="appContainer__main">
        <aside th:replace="fragments/aside :: aside"></aside>
        <div class="appContainer__main__content">
            <a th:each="c:${classes}" class="class__link" th:href="'/classes/update/' + ${c.id}">
                <div class="class">
                    <div class="class__header" th:text="${c.name} + '  -  ' + ${c.category}"></div>
                    <div class="classDetails">
                        <span class="classDetails__span" th:text="${c.ECTS} + ' ECTS'"></span>
                        <span class="classDetails__span" th:text="${c.CNPS} + ' CNPS'"></span>
                        <span class="classDetails__span" th:text="${c.ZZU} + ' ZZU'"></span>
                    </div>
                </div>
            </a>
        </div>
    </main>
</div>
</body>
</html>