<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plany studiów PWR</title>

    <link rel="stylesheet" href="/css/classes/create-course-group-form.css"/>
    <link rel="stylesheet" href="/css/classes/group-and-module-common.css"/>
    <link rel="stylesheet" href="/css/fragments/create-class-form-base.css"/>
    <link rel="stylesheet" href="/css/fragments/submit-cancel-class-form-buttons.css"/>
    <link rel="stylesheet" href="/css/fragments/header.css"/>
    <link rel="stylesheet" href="/css/fragments/aside.css"/>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/fancy-table.css"/>
    <link rel="stylesheet" href="/css/fragments/modal.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">
</head>
<body>
<div class="appContainer">
    <header th:replace="fragments/header :: header"></header>
    <main class="appContainer__main">
        <aside th:replace="fragments/aside :: aside"></aside>
        <div class="appContainer__main__content">
            <form class="createClassForm" action="#" th:action="@{/classes/create?category=GROUP}" th:object="${classEntity}" method="post">
                <div th:replace="fragments/create-class-form-base :: create-class-form-base"></div>
                <hr class="createClassForm__hr">
                <div class="createClassForm__addedCourses">
                    <button class="createClassForm__addedCourses__button fancyButton fancyButton--wide">+ Dodaj kurs do
                        grupy
                    </button>
                    <div class="createClassForm__addedCourses__tableWrapper">
                        <span th:if="${classEntity.coursesInGroup == null || classEntity.coursesInGroup.isEmpty()}" class="createClassForm__noAddedCoursesSpan">Brak kursów w grupie</span>
                        <table th:if="${classEntity.coursesInGroup != null && !classEntity.coursesInGroup.isEmpty()}" class="createClassForm__addedCourses__table fancyTable">
                            <thead class="fancyTable__thead">
                            <tr>
                                <th class="fancyTable__cell createGroupForm__addedCourses__table__cell--name">Nazwa</th>
                                <th class="fancyTable__cell createGroupForm__addedCourses__table__cell--ECTS">ECTS</th>
                                <th class="fancyTable__cell createGroupForm__addedCourses__table__cell--CNPS">CNPS</th>
                                <th class="fancyTable__cell createGroupForm__addedCourses__table__cell--ZZU">ZZU</th>
                                <th class="fancyTable__cell createGroupForm__addedCourses__table__cell--courseType">Typ</th>
                            </tr>
                            </thead>
                            <tbody class="fancyTable__tbody createClassForm__addedCourses__tbody">
                                <tr th:each="c:${classEntity.coursesInGroup}" class="fancyTable__tbody__tr" th:id="'addedCourse' + ${c.id}">
                                    <td class="fancyTable__cell createClassForm__addedCourses__table__cell--name" th:text="${c.name}"></td>
                                    <td class="fancyTable__cell createClassForm__addedCourses__table__cell--ECTS" th:text="${c.ECTS}"></td>
                                    <td class="fancyTable__cell createClassForm__addedCourses__table__cell--CNPS" th:text="${c.CNPS}"></td>
                                    <td class="fancyTable__cell createClassForm__addedCourses__table__cell--ZZU" th:text="${c.ZZU}"></td>
                                    <td class="fancyTable__cell createClassForm__addedCourses__table__cell--courseType" th:text="${courseTypeTranslations.get(c.courseType)}"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div th:if="${classEntity.coursesInGroup != null && !classEntity.coursesInGroup.isEmpty()}" class="createClassForm__addedCourses__buttonsColumn">
                            <img th:each="c:${classEntity.coursesInGroup}" class="fancyTable__closeButtonDiv__icon" th:id="'deleteIcon' + ${c.id}" src="/img/close-icon.png" />
                        </div>`
                    </div>
                    <span class="createClassForm__errorMessage" id="courseInGroupErrors" th:errors="*{coursesInGroup}"></span>
                    <input type="text" name="coursesInGroup" id="coursesInGroup" th:field="*{coursesInGroup}">
                    <span id="spanWithIds" th:text="${coursesInGroupIds}"></span>
                </div>
                <div th:replace="fragments/submit-cancel-class-form-buttons :: submit-cancel-class-form-buttons"></div>
            </form>
            <div th:replace="fragments/modal :: modal"></div>
        </div>
    </main>
</div>
<script type="text/javascript" src="/js/classes/group-and-module-common.js"></script>
<script type="text/javascript" src="/js/classes/create-course-group-form.js"></script>
</body>
</html>
