<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plany studiów PWR</title>

    <link rel="stylesheet" href="/css/classes/create-course-module-form.css"/>
    <link rel="stylesheet" href="/css/classes/group-and-module-common.css"/>
    <link rel="stylesheet" href="/css/fragments/create-class-form-base.css"/>
    <link rel="stylesheet" href="/css/fragments/submit-cancel-class-form-buttons.css"/>
    <link rel="stylesheet" href="/css/fragments/header.css"/>
    <link rel="stylesheet" href="/css/fragments/aside.css"/>
    <link rel="stylesheet" href="/css/fragments/modal.css"/>
    <link rel="stylesheet" href="/css/fancy-table.css"/>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">
</head>
<body>
<div class="appContainer">
    <header th:replace="fragments/header :: header"></header>
    <main class="appContainer__main">
        <aside th:replace="fragments/aside :: aside"></aside>
        <div class="appContainer__main__content">
            <form class="createClassForm" action="#" th:action="@{/class/create}" th:object="${classEntity}" method="post">
                <div th:replace="fragments/create-class-form-base :: create-class-form-base"></div>
                <hr class="createClassForm__hr">
                <div class="createClassForm__addedCourses">
                    <button class="createClassForm__addedCourses__button fancyButton fancyButton--wide">+ Dodaj kurs do
                        modułu
                    </button>
                    <div class="createClassForm__addedCourses__tableWrapper">
                        <span class="createClassForm__noAddedCoursesSpan">Brak kursów w module</span>
                    </div>
                    <input type="text" name="coursesInModule" id="coursesInModule" th:field="*{coursesInModule}">
                </div>
                <div th:replace="fragments/submit-cancel-class-form-buttons :: submit-cancel-class-form-buttons"></div>
            </form>
            <div th:replace="fragments/modal :: modal"></div>
        </div>
    </main>
</div>
<script type="text/javascript" src="/js/classes/group-and-module-common.js"></script>
<script type="text/javascript" src="/js/classes/create-course-module-form.js"></script>
</body>
</html>
