<div th:fragment="add-course-to-group-modal" class="groupModal groupModal--hidden">
    <div class="groupModal__searchBar">
        <input type="text" class="groupModal__searchBar__input"/>
        <div class="groupModal__closeButton">X</div>
    </div>
    <table class="fancyTable groupModal__table">
        <thead class="fancyTable__thead">
        <tr>
            <th class="fancyTable__cell">Nazwa</th>
            <th class="fancyTable__cell">ECTS</th>
            <th class="fancyTable__cell">CNPS</th>
            <th class="fancyTable__cell">ZZU</th>
            <th class="fancyTable__cell">Typ</th>
        </tr>
        </thead>
        <tbody class="fancyTable__tbody groupModal__tbody">
        </tbody>
    </table>
</div>
