<aside th:fragment="aside" class="appContainer__aside">
    <div class="appContainer__aside__userMenu">
        <span class="appContainer__aside__userMenu__loggedAsSpan">Zalogowany</span>
        <span class="appContainer__aside__userMenu__nameSurname">Filip Marcin Wiśniewski</span>
        <div class="appContainer__aside__userMenu__buttons">
            <button class="fancyButton">Wyloguj</button>
            <button class="fancyButton">Zmień hasło</button>
        </div>
    </div>
    <nav class="appContainer__main__nav">
        <span class="appContainer__aside__nav__availableOptions">Dostępne opcje</span>
        <a href="/classes/create?category=COURSE"><span class="appContainer__aside__nav__option">Nowe zajęcie</span></a>
        <a href="/create-plan-form"><span class="appContainer__aside__nav__option">Nowy plan studiów</span></a>
        <a href="/classes"><span class="appContainer__aside__nav__option">Przeglądaj zajęcia</span></a>
        <a href="/plans"><span class="appContainer__aside__nav__option">Przeglądaj plany studiów</span></a>
        <a href="/learning-effects"><span class="appContainer__aside__nav__option">Efekty uczenia się</span></a>
    </nav>
</aside>
