<aside th:fragment="aside" class="appContainer__aside">
  <div class="appContainer__aside__userMenu">
    <span class="appContainer__aside__userMenu__loggedAsSpan">Zalogowany</span>
    <span class="appContainer__aside__userMenu__nameSurname">Filip Marcin Wiśniewski</span>
  </div>
  <nav class="appContainer__main__nav">
    <span class="appContainer__aside__nav__availableOptions">Dostępne opcje</span>
    <span class="appContainer__aside__nav__option">Nowe zajęcie</span>
    <span class="appContainer__aside__nav__option">Nowy plan studiów</span>
    <span class="appContainer__aside__nav__option">Przeglądaj plany studiów</span>
  </nav>
</aside>
