<div th:fragment="create-class-form-base">
    <div class="createClassForm__inputWrapper">
        <label class="createClassForm__inputWrapper__label createClassForm__inputWrapper__label--bold" for="name">Nazwa
            zajęć:</label>
        <div class="createClassForm__inputWrapper__inputDiv">
            <input class="createClassForm__inputWrapper__inputDiv__input" id="name" type="text"
                   th:field="*{name}"/>
            <span class="createClassForm__errorMessage" th:errors="*{name}"></span>
        </div>
    </div>
    <div class="createClassForm__inputWrapper">
        <label class="createClassForm__inputWrapper__label" for="ects">Liczba punktów ECTS:</label>
        <div class="createClassForm__inputWrapper__inputDiv">
            <input class="createClassForm__inputWrapper__inputDiv__input" id="ects" type="number" th:field="*{ECTS}"/>
            <span class="createClassForm__errorMessage" th:errors="*{ECTS}"></span>
        </div>
    </div>
    <div class="createClassForm__inputWrapper">
        <label class="createClassForm__inputWrapper__label" for="cnps">Liczba godzin CNPS:</label>
        <div class="createClassForm__inputWrapper__inputDiv">
            <input class="createClassForm__inputWrapper__inputDiv__input" id="cnps" type="number" th:field="*{CNPS}"/>
            <span class="createClassForm__errorMessage" th:errors="*{CNPS}"></span>
        </div>
    </div>
    <div class="createClassForm__inputWrapper">
        <label class="createClassForm__inputWrapper__label" for="zzu">Liczba godzin ZZU:</label>
        <div class="createClassForm__inputWrapper__inputDiv">
            <input class="createClassForm__inputWrapper__inputDiv__input" id="zzu" type="number" th:field="*{ZZU}"/>
            <span class="createClassForm__errorMessage" th:errors="*{ZZU}"></span>
        </div>
    </div>
    <div class="createClassForm__inputWrapper">
        <label class="createClassForm__inputWrapper__label" for="wayOfCrediting">Forma zaliczenia:</label>
        <div class="createClassForm__inputWrapper__inputDiv">
            <select class="createClassForm__inputWrapper__inputDiv__input" id="wayOfCrediting"
                    th:field="*{wayOfCrediting}">
                <option th:disabled th:selected th:value="''"> -- wybierz -- </option>
                <option th:each="w:${waysOfCrediting}" th:value="${w.value()}" th:text="${w.readableName()}"></option>
            </select>
            <span class="createClassForm__errorMessage" th:errors="*{wayOfCrediting}"></span>
        </div>
    </div>
    <div class="createClassForm__inputWrapper">
        <label class="createClassForm__inputWrapper__label" for="type">Rodzaj bloku zajęć:</label>
        <div class="createClassForm__inputWrapper__inputDiv">
            <select class="createClassForm__inputWrapper__inputDiv__input" id="type" th:field="*{type}">
                <option th:disabled th:selected th:value="''"> -- wybierz -- </option>
                <option th:each="t:${types}" th:value="${t.value()}" th:text="${t.readableName()}"></option>
            </select>
            <span class="createClassForm__errorMessage" th:errors="*{type}"></span>
        </div>
    </div>
    <div class="createClassForm__inputWrapper">
        <label class="createClassForm__inputWrapper__label" for="area">Obszar zajęć (nazwa bloku):</label>
        <div class="createClassForm__inputWrapper__inputDiv">
            <input class="createClassForm__inputWrapper__inputDiv__input" id="area" type="text" th:field="*{area}">
            <span class="createClassForm__errorMessage" th:errors="*{area}"></span>
        </div>
    </div>
    <div class="createClassForm__inputWrapper">
        <label class="createClassForm__inputWrapper__label" for="learningEffectsSelect">Symbole efektów uczenia
            się:</label>
        <div class="createClassForm__inputWrapper__inputDiv">
            <select class="createClassForm__inputWrapper__inputDiv__input" id="learningEffectsSelect">
                <option disabled selected value="default"> -- wybierz -- </option>
                <option th:each="e:${learningEffects}" th:value="${e.id}" th:text="${e.symbol}" th:title="${e.description}" th:class="${classEntity.learningEffects != null && classEntity.learningEffects.contains(e) ? 'createClassForm__learningEffectOption--selected' : ''}"></option>
            </select>
            <span class="createClassForm__errorMessage" th:errors="*{learningEffects}"></span>
        </div>
    </div>
    <div class="createClassForm__learningEffects">
        <div th:each="l:${classEntity.learningEffects}" class="createClassForm__learningEffects__badge" th:id="'learningEffectBadge' + l.id" th:text="${l.symbol}"></div>
    </div>
    <input type="text" name="learningEffects" id="learningEffects" th:field="*{learningEffects}"/>
    <div class="createClassForm__inputWrapper">
        <label class="createClassForm__inputWrapper__label createClassForm__inputWrapper__label--bold" for="category">Kategoria
            zajęć:</label>
        <div class="createClassForm__inputWrapper__inputDiv">
            <select class="createClassForm__inputWrapper__inputDiv__input" id="category" th:field="*{category}">
                <option th:each="c:${categories}" th:value="${c.value()}" th:text="${c.readableName()}"></option>
            </select>
        </div>
    </div>
    <script type="text/javascript" src="/js/classes/create-class-form-base.js"></script>
</div>
