<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Plany Studiów PWR</title>
  <link rel="stylesheet" href="/css/semester/semester.css"/>
  <link rel="stylesheet" href="/css/fragments/header.css"/>
  <link rel="stylesheet" href="/css/fragments/aside.css"/>
  <link rel="stylesheet" href="/css/base.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">
</head>
<body>
<div class="appContainer">
  <header th:replace="fragments/header :: header"></header>
  <main class="appContainer__main">
    <aside th:replace="fragments/aside :: aside"></aside>
    <div class="appContainer__semester__content">
      <table class="table__semester__semesterInfo">
        <tr>
          <td th:text="${plan.faculty.name}"></td>
          <td th:text="${plan.field} "></td>
          <td th:text="|Stopień ${plan.level}|"></td>
          <td th:text="|${plan.academicYear} rok|"></td>
          <td th:text="|${semester.number} semestr|"></td>
        </tr>
      </table>
      <p>
      <form action="semester">
        <input type="hidden" name="plan_id" th:value="${plan_id}">
        <input type="hidden" name="semester_number" th:value="${semester_number}">
        <button class="appContainer__semester__button">Wyjdź</button>
      </form>
      </p>
      <p>
      <form method="get" action="add-class" style="margin-top: -30px">
        <input type="hidden" id="plan_id" name="plan_id" th:value="${plan_id}">
        <input type="hidden" id="semester_number" name="semester_number" th:value="${semester_number}">
        <input type="text" id="class_name" name="class_name" placeholder="Nazwa zajęcia" style="margin-left: 130px">
        <select id="class_type" name="class_type">
          <option value="no_choose">Typ zajęcia</option>
          <option value="course">Kurs</option>
          <option value="group">Grupa Kursów</option>
          <option value="module">Moduł</option>
        </select>
        <input type="submit" value="Szukaj" class="appContainer__semester__searchButton" >
      </form>
      </p>
      <table>
        <thead>
        <tr>
          <th>
            Lp.
          </th>
          <th>
            Nazwa zajęcia
          </th>
          <th>
            Kategoria
          </th>
          <th>
            ZZU
          </th>
          <th>
            CNPS
          </th>
          <th>
            ECTS
          </th>
          <th>
            Symbol efektu uczenia się
          </th>
          <th>
            Sposób zaliczenia
          </th>
          <th>
            Rodzaj
          </th>
          <th>
            Obszar
          </th>
          <th>

          </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="k,i : ${courses}">
          <td th:text="${i.index + 1}">
          </td>
          <td th:text="${k.name}"></td>
          <td th:text="${k.category}"></td>
          <td th:text="${k.ZZU}"></td>
          <td th:text="${k.CNPS}"></td>
          <td th:text="${k.ECTS}"></td>
          <td>
            <span th:each="l : ${k.learningEffects}">
              <p class="semester__learningEffects__font" th:text="${l.symbol}">
              </p>
            </span>
          </td>
          <td th:text="${k.wayOfCrediting}"></td>
          <td th:text="${k.type}"></td>
          <td th:text="${k.area}"></td>
          <td>
            <form action="#" th:action="@{/add-class-to-semester}" method="post">
              <input type="hidden" th:value="${semester.getId()}" name="semester_id">
              <input type="hidden" th:value="${k.getId()}" name="class_id">
              <input class="fancyButton" type="submit" value="Dodaj" />
            </form>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </main>
</div>
</body>
</html>