<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plany Studiów PWR</title>
    <link rel="stylesheet" href="/css/semester/semesters-list.css"/>
    <link rel="stylesheet" href="/css/semester/semester.css"/>
    <link rel="stylesheet" href="/css/fragments/header.css"/>
    <link rel="stylesheet" href="/css/fragments/aside.css"/>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">
</head>
<body>
<div class="appContainer">
    <header th:replace="fragments/header :: header"></header>
    <main class="appContainer__main">
        <aside th:replace="fragments/aside :: aside"></aside>
        <div class="appContainer__semester__content">

            <table class="table__semester__semesterInfo">
                <tr>
                    <td th:text="${plan.faculty.name}"></td>
                    <td th:text="${plan.field} "></td>
                    <td th:text="|Stopień ${plan.level}|"></td>
                    <td th:text="|${plan.academicYear} rok|"></td>
                    <td th:text="|${semester.number} semestr|"></td>
                </tr>
            </table>

            <div>
                <button class="appContainer__semester__button" >Wróć do semestrów</button>

                <form action="add-class">
                    <input type="hidden" name="plan_id" th:value="${plan.id}">
                    <input type="hidden" name="semester_number" th:value="${semester.number}">
                    <button type="submit" class="appContainer__semester__button">Dodaj zajęcie</button>
                </form>

                <form action="view-classes" method="get">
                    <input type="hidden" id="plan_id" name="plan_id" th:value="${plan.id}">
                    <input type="hidden" id="semester_number" name="semester_number" th:value="${semester.number}">
                    <button type="submit" class="appContainer__semester__button">Przeglądaj zajęcia</button>
                </form>
            </div>
            <p class="tabTitle">
                Kursy
            </p>
            <table th:if="${course.isEmpty()} == false">
                <thead>
                <tr>
                    <th>
                        Lp.
                    </th>
                    <th>
                        Nazwa kursu
                    </th>
                    <th>
                        ZZU
                    </th>
                    <th>
                        CNPS
                    </th>
                    <th>
                        ECTS
                    </th>
                    <th>
                        Symbol efektu uczenia się
                    </th>
                    <th>
                        Sposób zaliczenia
                    </th>
                    <th>
                        Rodzaj
                    </th>
                    <th>
                        Obszar
                    </th>
                    <th>

                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="k,i :${course}">
                    <td th:text="${i.index + 1}"></td>
                    <td th:text="${k.name}"></td>
                    <td th:text="${k.ZZU}"></td>
                    <td th:text="${k.CNPS}"></td>
                    <td th:text="${k.ECTS}"></td>
                    <td>
                      <span th:each="e : ${k.learningEffects}">
                        <p class="semester__learningEffects__font" th:text="${e.symbol}">
                        </p>
                      </span>
                    </td>
                    <td th:text="${k.wayOfCrediting}"></td>
                    <td th:text="${k.type}"></td>
                    <td th:text="${k.area}"></td>

                    <td>
                        <form action="#" th:action="@{/delete-class-from-semester}" method="post">
                            <input type="hidden" th:value="${semester.getId()}" name="semester_id">
                            <input type="hidden" th:value="${k.getId()}" name="class_id">
                            <input class="appContainer__semester__deleteButton" type="submit" value="Usuń" />
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

            <hr>

            <p class="tabTitle">
                Grupy kursów
            </p>
            <table th:if="${group.isEmpty()} == false">
                <thead>
                <tr>
                    <th>
                        Lp.
                    </th>
                    <th>
                        Nazwa grupy kursów
                    </th>
                    <th>
                        ZZU
                    </th>
                    <th>
                        CNPS
                    </th>
                    <th>
                        ECTS
                    </th>
                    <th>
                        Symbol efektu uczenia się
                    </th>
                    <th>
                        Sposób zaliczenia
                    </th>
                    <th>
                        Rodzaj
                    </th>
                    <th>
                        Obszar
                    </th>
                    <th>

                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="k,i :${group}">
                    <td th:text="${i.index + 1}"></td>
                    <td th:text="${k.name}"></td>
                    <td th:text="${k.ZZU}"></td>
                    <td th:text="${k.CNPS}"></td>
                    <td th:text="${k.ECTS}"></td>
                    <td>
                      <span th:each="e : ${k.learningEffects}">
                        <p class="semester__learningEffects__font" th:text="${e.symbol}">
                        </p>
                      </span>
                    </td>
                    <td th:text="${k.wayOfCrediting}"></td>
                    <td th:text="${k.type}"></td>
                    <td th:text="${k.area}"></td>

                    <td>
                        <form action="#" th:action="@{/delete-class-from-semester}" method="post">
                            <input type="hidden" th:value="${semester.getId()}" name="semester_id">
                            <input type="hidden" th:value="${k.getId()}" name="class_id">
                            <input class="appContainer__semester__deleteButton" type="submit" value="Usuń" />
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

            <hr>

            <p class="tabTitle">
                Moduły kursów wybieralnych
            </p>
            <span  th:each="k,i : ${module}">
            <table>
                <thead>
                <tr>
                    <th>
                        Lp.
                    </th>
                    <th>
                        Nazwa modułu
                    </th>
                    <th>
                        ZZU
                    </th>
                    <th>
                        CNPS
                    </th>
                    <th>
                        ECTS
                    </th>
                    <th>
                        Symbol efektu uczenia się
                    </th>
                    <th>
                        Sposób zaliczenia
                    </th>
                    <th>
                        Rodzaj
                    </th>
                    <th>
                        Obszar
                    </th>
                    <th>

                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${i.index +1}"></td>
                    <td th:text="${k.name}"></td>
                    <td th:text="${k.ZZU}"></td>
                    <td th:text="${k.CNPS}"></td>
                    <td th:text="${k.ECTS}"></td>
                    <td>
                      <span th:each="e : ${k.learningEffects}">
                        <p class="semester__learningEffects__font" th:text="${e.symbol}">
                        </p>
                      </span>
                    </td>
                    <td th:text="${k.wayOfCrediting}"></td>
                    <td th:text="${k.type}"></td>
                    <td th:text="${k.area}"></td>

                    <td>
                        <form action="#" th:action="@{/delete-class-from-semester}" method="post">
                            <input type="hidden" th:value="${semester.getId()}" name="semester_id">
                            <input type="hidden" th:value="${k.getId()}" name="class_id">
                            <input class="appContainer__semester__deleteButton" type="submit" value="Usuń" />
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

            <!- tabela wewnętrzna ->
            <table class="table__semester__innerTable">
                <thead>
                <tr>
                    <th>
                        Nazwa kursu
                    </th>
                    <th>
                        ZZU
                    </th>
                    <th>
                        CNPS
                    </th>
                    <th>
                        ECTS
                    </th>
                    <th>
                        Symbol efektu uczenia się
                    </th>
                    <th>
                        Sposób zaliczenia
                    </th>
                    <th>
                        Rodzaj
                    </th>
                    <th>
                        Obszar
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="m,j : ${k.coursesInModule}">
                    <td th:text="${m.name}"></td>
                    <td th:text="${m.ZZU}"></td>
                    <td th:text="${m.CNPS}"></td>
                    <td th:text="${m.ECTS}"></td>
                    <td>
                      <span th:each="e : ${m.learningEffects}">
                        <p class="semester__learningEffects__font" th:text="${e.symbol}">
                        </p>
                      </span>
                    </td>
                    <td th:text="${m.wayOfCrediting}"></td>
                    <td th:text="${m.type}"></td>
                    <td th:text="${m.area}"></td>
                </tr>
                </tbody>
            </table>
            </span>
        </div>
    </main>
</div>
</body>
</html>