<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plany Studiów PWR</title>
    <link rel="stylesheet" href="/css/classes/all-classes.css"/>
    <link rel="stylesheet" href="/css/fragments/header.css"/>
    <link rel="stylesheet" href="/css/fragments/aside.css"/>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">
</head>
<body>
<div class="appContainer">
    <header th:replace="fragments/header :: header"></header>
    <main class="appContainer__main">
        <aside th:replace="fragments/aside :: aside"></aside>
        <div class="appContainer__main__content">
            <div class="">
                <h2>Dane planu</h2>
                <table>
                    <tbody>
                        <tr>
                            <td>Wydział</td>
                            <td th:text="${plan.getFaculty().getName()}"></td>
                        </tr>
                        <tr>
                            <td>Kierunek</td>
                            <td th:text="${plan.getField()}"></td>
                        </tr>
                        <tr>
                            <td>Rocznik</td>
                            <td th:text="${plan.getAcademicYear()}"></td>
                        </tr>
                        <tr>
                            <td>Stopień</td>
                            <td th:text="${plan.getLevel()}"></td>
                        </tr>
                        <!--<tr>
                            <td>Autor</td>
                            <td>
                                <ul th:each="a:${plan.getAuthors()}">
                                    <li th:text="${a.getName()}"></li>
                                </ul>
                            </td>
                        </tr>-->
                    </tbody>
                </table>
                <form action="" method="post">
                    <input type="submit" value="Modyfikuj" />
                </form>
            </div>
            <table>
                <tbody>
                    <tr th:each="s:${semesters}">
                        <td th:text="'Semestr ' + ${s.number}"></td>
                        <td>
                            <form action="" method="post">
                                <input type="submit" value="Szczegóły" />
                            </form>
                        </td>
                        <td>
                            <form action="" method="post">
                                <input type="submit" value="Usuń" />
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
</body>
</html>