<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plany Studiów PWR</title>
    <link rel="stylesheet" href="/css/semester/semesters-list.css"/>
    <link rel="stylesheet" href="/css/fragments/header.css"/>
    <link rel="stylesheet" href="/css/fragments/aside.css"/>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">
</head>
<body>
<div class="appContainer">
    <header th:replace="fragments/header :: header"></header>
    <main class="appContainer__main">
        <aside th:replace="fragments/aside :: aside"></aside>
        <div class="appContainer__main__content">

            <div class="plan-details">
                <h2>Dane planu</h2>
                <table class="plan-table">
                    <tbody>
                        <tr class="plan-table-tr">
                            <td class="plan-table-td">Wydział</td>
                            <td class="plan-table-td" th:text="${plan.getFaculty().getName()}"></td>
                        </tr>
                        <tr class="plan-table-tr">
                            <td class="plan-table-td">Kierunek</td>
                            <td class="plan-table-td" th:text="${plan.getField()}"></td>
                        </tr>
                        <tr class="plan-table-tr">
                            <td class="plan-table-td">Rocznik</td>
                            <td class="plan-table-td" th:text="${plan.getAcademicYear()}"></td>
                        </tr>
                        <tr class="plan-table-tr">
                            <td class="plan-table-td">Stopień</td>
                            <td class="plan-table-td" th:text="${plan.getLevel()}"></td>
                        </tr>
                        <!--<tr>
                            <td>Autor</td>
                            <td>
                                <ul th:each="a:${plan.getAuthors()}">
                                    <li th:text="${a.getName()}"></li>
                                </ul>
                            </td>
                        </tr>-->
                    </tbody>
                </table>
                <form action="" method="post">
                    <input class="fancyButton" type="submit" value="Modyfikuj" />
                </form>
            </div>

            <h3 class="semesters-header">Semestry</h3>
            <ul class="semesters-list">
                <li class="semesters-list-li" th:each="s:${semesters}">
                    <div class="semesters-list-semester" th:text="'Semestr ' + ${s.number}"></div>
                    <div class="semesters-list-button-1">
                        <form action="" method="post">
                            <input class="fancyButton"  type="submit" value="Szczegóły" />
                        </form>
                    </div>
                    <div class="semesters-list-button-2">
                        <form action="#" th:action="@{/delete-semester}" method="post">
                            <input type="hidden" th:value="${s.getId()}" th:attr="name='semester'">
                            <input class="fancyButton" type="submit" value="Usuń" />
                        </form>
                    </div>
                </li>
            </ul>
            <div id="create_semester_error" th:if="${semesterError != null}">
                <p id="createSemesterForm_error_message" th:text="${semesterError}"></p>
            </div>

            <button id="semester-add-button" class="fancyButton">Dodaj</button>

            <div id="semester-create-form">
                <div id="semester-create-form-close">X</div>
                <p>Podaj numer semestru:</p>
                <form action="#" th:action="@{/semester/create}" th:object="${semester}" method="post">
                    <input id="" type="text" th:field="*{number}"/>
                    <input type="hidden" id="faculty" name="plan" th:value="${plan.getId()}"></input>
                    <input class="fancyButton" type="submit" value="Dodaj" />
                </form>

            </div>

        </div>
    </main>
</div>
<script type="text/javascript" src="/js/semesters/create-semester-form.js"></script>
</body>
</html>